In [1]:
import numpy as np
import pandas as pd

In [10]:
output_file = 'src_data/population.csv'
fout = open(output_file, 'w')
skip = 0
fout.write('GeoId,BlockGroup,CensusTract,County,State,Population\n')
with open('src_data/ACSDT5Y2019.B01001_2024-08-23T101550/ACSDT5Y2019.B01001-Data.csv', 'r') as f:
    for line in f.readlines():
        if skip < 2:
            skip += 1
            continue
        line = line.split('",')
        geoInfo = line[1][1:].split(', ')
        geoInfo_new = []
        for i,geo in enumerate(geoInfo):
            geo = geo.split(' ')
            if i == 2:
                geoInfo_new.append(geo[0])
            else:
                geoInfo_new.append(geo[-1])
        geoInfo_new = ','.join(geoInfo_new)
        fout.write('%s,%s,%s\n' % (line[0][1:].replace('1500000US',''), geoInfo_new, line[2][1:]))
fout.close()

In [11]:
raw_data = pd.read_csv('src_data/population.csv')
raw_data

               GeoId  BlockGroup  CensusTract   County    State  Population
0        10010201001           1       201.00  Autauga  Alabama         730
1        10010201002           2       201.00  Autauga  Alabama        1263
2        10010202001           1       202.00  Autauga  Alabama         835
3        10010202002           2       202.00  Autauga  Alabama        1124
4        10010203001           1       203.00  Autauga  Alabama        2774
...              ...         ...          ...      ...      ...         ...
220328  721537506011           1      7506.01    Yauco     Rico         883
220329  721537506012           2      7506.01    Yauco     Rico        2523
220330  721537506013           3      7506.01    Yauco     Rico         991
220331  721537506021           1      7506.02    Yauco     Rico        1577
220332  721537506022           2      7506.02    Yauco     Rico         648

[220333 rows x 6 columns]

In [12]:
fairfax_data = raw_data[raw_data['County'] == 'Fairfax']
fairfax_data

               GeoId  BlockGroup  CensusTract   County     State  Population
202003  510594151001           1       4151.0  Fairfax  Virginia        1371
202004  510594151002           2       4151.0  Fairfax  Virginia        1338
202005  510594151003           3       4151.0  Fairfax  Virginia         915
202006  510594152001           1       4152.0  Fairfax  Virginia         835
202007  510594152002           2       4152.0  Fairfax  Virginia         635
...              ...         ...          ...      ...       ...         ...
205023  516003004002           2       3004.0  Fairfax  Virginia         745
205024  516003004003           3       3004.0  Fairfax  Virginia        1805
205025  516003005001           1       3005.0  Fairfax  Virginia         897
205026  516003005002           2       3005.0  Fairfax  Virginia        1224
205027  516003005003           3       3005.0  Fairfax  Virginia        1446

[666 rows x 6 columns]

In [14]:
fairfax_data[['GeoId','Population']].to_csv('src_data/fairfax_population.csv', index=False)